h1{
    text-align: center;
    font-size: xx-large;
    margin-top: 2px;
    color:#0060AF;
    font-weight: bold;
    
}
.container{
    height:100%;
    width: 100%;
    background-image: url("/assets/images/back.jpg");
   
}

.button{
    width: 150px; 
    
    background-color: transparent !important;
    border: none;
    cursor: pointer;
    margin-left: 200px;
}
.button:focus{

    outline: none;
}
#back{
    background-color: transparent !important;
    border: none;
    cursor: pointer;
}
#back:focus{
 outline: none;
}
#next{
    background-color: transparent !important;
    border: none;
    cursor: pointer;

   margin-left: 70%;
}
#next:focus{
 outline: none;
}
.container-back{
display: flex;
}