<div class="container">
    <app-toolbar ></app-toolbar>
    <h1>Elija la opción a jugar</h1>
    <button (click)="valor('4')" routerLink="/tipo"   class="button"   >
        <img  src="assets/images/4-cifras.png" alt="x" />
    </button>
    <button (click)="valor('3')" routerLink="/tipo"  class="button"  >
        <img  src="assets/images/3-ifras.png" alt="x" />
    </button>
    <button (click)="valor('2')"  routerLink="/input" class="button"  >
        <img  src="assets/images/2-cifras.png" alt="x" />
    </button>
    <button (click)="valor('1')"  routerLink="/input"  class="button"  >
        <img  src="assets/images/1-cifras.png" alt="x" />
    </button>
    <div class="container-back">
        <button routerLink="/loterias"  id="back"  value="paisita"  >
            <img  src="assets/images/atras.png" alt="x" />
        </button>
      
    </div>
    <footer>
        <img src="assets/images/virtual.png" alt="">
    </footer>
</div>