
  <div class="container">
   
       
                <app-toolbar ></app-toolbar>
                <h1>Consulte y juegue aqui</h1>
                <div class="container_buttons">
                    <button    class="button"  >
                        <img  src="assets/images/consultando.png" alt="x" />
                    </button>
                    <button id="chance" routerLink="/loterias" class="button" >
                        <img  src="assets/images/jugar.png" alt="x" />
                    </button>
                </div>
                 
       
        </div>
             
                 


       

  



