<h2 mat-dialog-title> Pagar su {{tipoServicio}}</h2>
<mat-dialog-content>Aqui podra observar los valores de su {{tipoServicio}}</mat-dialog-content>
<br>
<mat-form-field class="example-full-width">
    <mat-label>Valor a pagar</mat-label>
    <input disabled="true" matInput  value="$ {{data.val}}" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Valor ingresado</mat-label>
    <input disabled="true" matInput  value="$ {{ingresado}}">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Valor restante</mat-label>
    <input disabled="true" value="$ {{restante}}" matInput  >
  </mat-form-field>
<p>Su pago se cerrara en: {{timer}}</p>