<h2 mat-dialog-title> Pagar su apuesta</h2>
<mat-dialog-content>En este espacio podra observar los valores de su Apuesta</mat-dialog-content>
<br>
<mat-form-field class="example-full-width">
    <mat-label>Valor a pagar</mat-label>
    <input disabled="true" matInput  value="$ {{data.val}}" >
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Valor ingresado</mat-label>
    <input disabled="true" matInput  value="$ {{ingresado}}">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Valor restante</mat-label>
    <input disabled="true" value="$ {{restante}}" matInput  >
  </mat-form-field>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>